nav {
  position: fixed;
  width: 90%;
  top: 0;
  right: 5%;
}

nav ul.desktop-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  justify-content: flex-end;
  padding: 1.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}

nav ul.desktop-links li:hover {
  color: var(--accent-color);
}

nav ul.desktop-links li {
  transition: all 0.3s;
  cursor: pointer;
}

.fas.fa-bars {
  display: none;
}

@media (max-width: 500px) {
  nav ul.desktop-links {
    display: none;
  }
  .fas.fa-bars {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 1.4rem;
    color: #21243d;
    z-index: 3;
    position: fixed;
  }
}
