footer {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

footer ul i {
  font-size: 2rem;
  color: var(--dark-color);
}
