@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --accent-color: #ff6464;
  --secondary-color: #edf7fa;
  --dark-color: #21243d;
}
